<header>
    <nav class="nav-wrapper">
        <a href="/">Complete Blog</a>
        <ul>
            <li>Learn</li>
            <li>About</li>
            <li>Share</li>
        </ul>
    </nav>
</header>