<header class="p-3 border-b border-b-slate-200 mb-5">
    <nav class="container-layout nav-wrapper px-6">
        <a class="nav-link" href="/">Complete Blog</a>
        <ul class="flex items-center space-x-4">
            <li>Learn</li>
            <li>About</li>
            <li>Share</li>
        </ul>
    </nav>
</header>